doctype html
html(lang="")
	include ../common/head.jade
	body
		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
		<![endif]-->
		.wrapper
			.main-content
				//- Header
				include ../common/header.jade
					//- Navigation
				include ../common/navigate.jade
				//-изменяемый контент
				.variable-content
					.container
						//- изменяемая часть каждой страницы
						block content
		include ../common/footer.jade