doctype html
html(lang="")
	include ../common/head
	body
		<!--[if lt IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->
		.wrapper
			.main-content
				//- Header
				include ../common/header
					//- Navigation
				include ../common/navigate
				//-изменяемый контент
				.variable-content
					.container
						//- изменяемая часть каждой страницы
						block content
		include ../common/footer