footer.footer
	.container
		.copyright © Copyright 2018, All Rights Reserved. 


// build:js js/vendor.min.js
//- bower:js
script(src='/bower/modernizr/modernizr.js')
script(src='/bower/jquery/dist/jquery.js')
//- endbower
// endbuild

// build:js js/main.min.js
script(src="js/main.js")
// endbuild