header.header
	.container
		.header__logo
		.header__search
		.header__socials
			ul.header__socials-list
				li.header__socials-item
					a(href="").header__socials-link.header__socials-link_vk vk
				li.header__socials-item
					a(href="").header__socials-link.header__socials-link_fb fb
				li.header__socials-item
					a(href="").header__socials-link.header__socials-link_tw tw